<!DOCTYPE html>
<html lang="ptBR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="\style\style.css">
  </head>
  <body>
    <header>
      <!--Nome do programa Ex: Noticia123-->
      <h1>Baguga News</h1>
      <!--Links para noticias específicas-->
      <nav><a href="#">Notícia 1</a>
        <a href="#">Notícia 2</a>
        <a href="#">Notícia 3</a></nav>
    </header>

    <main>
      <section class="noticia-container">
        <!--Nome da noticia 1-->
        <h2>Primeira Noticia</h2>
        <!--Artigo resumido da noticia 1-->
        <p>
          Lorem Ipsum é um texto fictício usado na indústria gráfica desde 1500,
          permanecendo popular e essencialmente inalterado até hoje.
        </p>
      </section>

      <section class="noticia-container">
        <!--Nome da noticia 2-->
        <h2>Segunda Noticia</h2>
        <!--Artigo resumido da noticia 2-->
        <p>
          Lorem Ipsum is a dummy text used in the printing industry since the
          1500s, remaining popular and essentially unchanged to this day.
        </p>
      </section>

      <section class="noticia-container">
        <!--Nome da noticia 3-->
        <h2>Terceira Noticia</h2>
        <!--Artigo resumido da noticia 3-->
        <p>O Santos divulgou, na manhã deste domingo 16, imagens do embarque de sua delegação rumo à capital paranaense...</p>
      </section>
    </main>
    <section class="noticia-container">
    <footer>
      <h3>Nome dos criadores</h3>
      <p>
        Arthur Pereira, João Gabriel, Bernado Souto, João Pedro Lacerda e João
        Pedro Torquetti
      </p>
      <p>
        Site criado para uma atividade em grupo, solicitada pelo professor
        Jacques Simões, com o intuito...
      </p>
    </footer>
  </section>
  </body>
</html>
